@media (max-width:575px) {

  #detail .card{
    height: 250px;
  }

  #detail .display-4 {
    font-size: 3.0rem;
  }
  .carousel-caption h2{
    font-size: 52px;
  }
}

/* Medium devices (tablets) */
@media (min-width:768px) {
  #detail .card{
    height: 475px;
  }
  #detail .card-body{
    padding-top: 110px;
  }
  #detail .display-4 {
    font-size: 3.0rem;
  }
}


/* Large devices (desktops) */
@media (min-width:992px) {
  #detail .card{
    height: 350px;
  }
}
@media (min-width:1000px) {

}

/* Extra large devices (large desktops) */
@media (min-width:1200px) {
  #detail .card{
    height: 300px;
  }
}

.navbar li a:hover{
border-bottom: 2px solid #fff;
border-radius: 2px;
}
.navbar{
  background: rgba(4, 23, 72, 0.9);
}

.carousel-item{
  height: 600px;
}

.carousel-image-1{
  background: url('images/Digital Training -TechTank.png');
  background-size: cover;
}

.carousel-image-2{
  background: url('images/Digital Research - TechTanks.png');
  background-size: cover;
}

.carousel-image-3{
  background: url('images/Consulting 2 - TechTank.png');
  background-size: cover;
}
.carousel-caption{
  color: #000000;
  padding-bottom: 90px;
}

.carousel-caption h2{
  background: #fff;
  opacity: 0.7;
  color: rgba(4, 23, 72, 0.9);
}
.carousel-caption p{
  background: #fff;
  opacity: 0.7;
    color: rgba(4, 23, 72, 0.9);
}

#detail a:hover{
  text-decoration: none;
}
#detail .card{
  border: 0px;
}
#detail .card-image-1{
  background: url('images/Digital Research - TechTanks.png');
  background-size: cover;
}

#detail .card-image-2{
  background: url('images/Research and Development - TechTank.png');
  background-size: cover;
}

#detail .card-image-3{
  background: url('images/Consulting 3 -TechTank.png');
  background-size: cover;
}

#detail h2{
  background: #fff;
  opacity: 0.7;
  color: rgba(4, 23, 72, 0.9);
}

#main-footer{
  background: rgba(4, 23, 72, 0.9);
}
#main-footer hr{
  background: #fff;
  border: 1px solid #fff;
  border-radius: 0px 0px 5px 5px;
  width: 79px;
  height: 2px;
}
#main-footer a:hover{
  text-decoration: none;
  list-style: none;
}

#main-footer ul li{
  list-style: none;
}

#sub-footer{
  background: #000;
}
