/*
  Project: TechTank Website
  Author: Trap Introvert
  github: https://github.com/Trapintrovert

 */

 /* HOME PAGE STYLE */

@media (max-width:575px) {

  #detail .card{
    height: 250px;
  }

  #detail .display-4 {
    font-size: 3.0rem;
  }
  .carousel-caption h2{
    font-size: 52px;
  }
  /* DIGITAL PROGRAM PAGE */

  #programs .detail-btn{
  margin-left: 40%;
  padding-top: 4em;
  }

  /* DIGITAL PROJECT MANAGEMENT PAGE */
  #logreg .logreg-btn{
  margin-left: 40%;
  padding-top: 4em;
  }
}

/* Medium devices (tablets) */
@media (min-width:768px) {

  #detail .card{
    height: 425px;
  }
  #detail .card-body{
    padding-top: 110px;
  }
  #detail .display-4 {
    font-size: 3.0rem;
  }

  /* ABOUT SECTION */
  #about{
    padding-top: 110px !important;
  }
  #about-card h3{
    margin-left: 16%;
    margin-right: 21%;
  }

  /* DIGITAL PROGRAM PAGE */

  #programs .detail-btn{
  margin-left: 70%;
  padding-top: 7em;
  }

  /* DIGITAL PROJECT MANAGEMENT PAGE */
  #logreg .logreg-btn{
    margin-left: 70%;
    padding-top: 7em;
  }
}


/* Large devices (desktops) */
@media (min-width:992px) {
  #detail .card{
    height: 350px;
  }
}
@media (min-width:1000px) {

}

/* Extra large devices (large desktops) */
@media (min-width:1200px) {
  #detail .card{
    height: 300px;
  }
  #about-card h3{
    margin-left: 30%;
    margin-right: 30%;
  }
  #about-card  .card{
    height: 210px;
  }
  #sub-footer .pl-8{
    padding-left: 27rem;
  }

  /* DIGITAL PROGRAM PAGE */

  #programs .detail-btn{
  margin-left: 80%;
  padding-top: 4em;
  }

  #programs .card{
    height: 200px;
  }

  /* DIGITAL PROJECT MANAGEMENT */
  #logreg .logreg-btn{
    margin-left: 80%;
    padding-top: 4em;
  }
}

.navbar li a:hover{
border-bottom: 2px solid #fff;
border-radius: 2px;
}
.navbar{
  background: rgba(4, 23, 72, 0.9);
}

.carousel-item{
  height: 600px;
}

.carousel-image-1{
  background: url('images/Digital Training -TechTank.png');
  background-size: cover;
}

.carousel-image-2{
  background: url('images/Digital Research - TechTanks.png');
  background-size: cover;
}

.carousel-image-3{
  background: url('images/Consulting 2 - TechTank.png');
  background-size: cover;
}
.carousel-caption{
  color: #000000;
  padding-bottom: 90px;
}

.carousel-caption h2,
.carousel-caption p,
#consulting-header h2,
#consulting-header p{
  background: #fff;
  opacity: 0.7;
  color: rgba(4, 23, 72, 0.9);
}


#detail a:hover{
  text-decoration: none;
}
#detail .card{
  border: 0px;
}
#detail .card-image-1{
  background: url('images/Digital Research - TechTanks.png');
  background-size: cover;
}

#detail .card-image-2{
  background: url('images/Research and Development - TechTank.png');
  background-size: cover;
}

#detail .card-image-3{
  background: url('images/Consulting 3 -TechTank.png');
  background-size: cover;
}

#detail h2{
  background: #fff;
  opacity: 0.7;
  color: rgba(4, 23, 72, 0.9);
}
#detail h3{
  color: rgba(4, 23, 72, 0.9);
}

#detail .btn-outline-primary{
  border-color: rgba(4, 23, 72, 0.9);
  color: rgba(4, 23, 72, 0.9);
}
#detail .btn-outline-primary:hover{
  background-color: rgba(4, 23, 72, 0.9);
  color: #fff;
}
#main-footer{
  background: rgba(4, 23, 72, 0.9);
}
#main-footer hr{
  background: #fff;
  border: 1px solid #fff;
  border-radius: 0px 0px 5px 5px;
  width: 79px;
  height: 2px;
  margin-left: 40px;
}
#main-footer a:hover{
  text-decoration: none;
  list-style: none;
}

#main-footer ul li{
  list-style: none;
}

#sub-footer{
  background: #000;
}
#sub-footer a p{
  font-size: 10px;
}


/* ABOUT US PAGE */


#about h3{
  color: rgba(4, 23, 72, 0.9);
}

#about-card .about-card-image-1 {
    background: url('images/programs.png');
    background-size: cover;
}

#about-card .about-card-image-2 {
    background: url('images/Research and Development - TechTank.png');
    background-size: cover;
}

#about-card .about-card-image-3 {
    background: url('images/innovation.png');
    background-size: cover;
}
#about-card .about-card-image-4 {
    background: url('images/consulting.png');
    background-size: cover;
}
#about-card .about-card-image-5 {
    background: url('images/Team.png');
    background-size: cover;
}

#about-card h3, #research h2{
  color: #fff;
  background: rgba(4, 23, 72, 0.9);
  opacity: 0.8;
  font-size: 40px;
}
#about-card a, #research a{
  color: #fff;
}
#about-card a:hover,
#research a:hover,
#consulting a:hover{
  text-decoration: none;
  list-style: none;
}

#about-card .card, #research .card{
  border: 0px;
}

/* DIGITAL PROGRAM PAGE */

#programs .btn-primary{
  background: rgba(4, 23, 72, 0.9);
  border-color: rgba(4, 23, 72, 0.9);
}

#programs h2{
  color: rgba(4, 23, 72, 0.9);
}
#programs .card h2:hover{
  color: #fff;
}
#programs a:hover{
  text-decoration: none;
  list-style: none;
}

#programs .card{
  box-shadow: 1px -2px 3px 2px #ECECEC;
}
#programs .card:hover {
  background:  rgba(4, 23, 72, 0.9);
  color: #ffffff;
}


/* SIGN IN AND REGISTRATION */

#logreg .btn-primary{
  background: rgba(4, 23, 72, 0.9);
  border-color: rgba(4, 23, 72, 0.9);
}

/* ALL DIGITAL TRAINING PROGRAM H2 AND HR */

#digital-project h2,
#digital-product h2,
#business-analysis h2,
#performance-management h2,
#digital-specialist h2,
#user-research h2,
#data-analysis h2,
#content-and-design h2,
#digital-leadership h2,
#operation-management{
  color: rgba(4, 23, 72, 0.9);
}

#about hr,
#consulting hr,
#digital-project hr,
#digital-product hr,
#business-analysis hr,
#performance-management hr,
#digital-specialist hr,
#user-research hr,
#data-analysis hr,
#content-and-design hr,
#digital-leadership hr,
#operation-management hr{
  background: rgba(4, 23, 72, 0.9);
  border: 1px solid rgba(4, 23, 72, 0.9);
  border-radius: 0px 0px 5px 5px;
  width: 79px;
  height: 2px;
  margin-left: 46%;
}


/* DIGITAL PROJECT MANAGEMENT */

.digital-project-image-1{
  background: url('images/Digital Training -TechTank.png');
  background-size: cover;
}

.digital-project-image-2{
  background: url('images/Digital Research - TechTanks.png');
  background-size: cover;
}

.digital-project-image-3{
  background: url('images/Consulting 2 - TechTank.png');
  background-size: cover;
}


/* DIGITAL PRODUCT MANAGEMENT SLIDER */

.digital-product-image-1{
  background: url('images/Digital Training -TechTank.png');
  background-size: cover;
}

.digital-product-image-2{
  background: url('images/Digital Research - TechTanks.png');
  background-size: cover;
}

.digital-product-image-3{
  background: url('images/Consulting 2 - TechTank.png');
  background-size: cover;
}


/* DIGITAL BUSINESS MANAGEMENT SLIDER */

.business-analysis-image-1{
  background: url('images/Digital Training -TechTank.png');
  background-size: cover;
}

.business-analysis-image-2{
  background: url('images/Digital Research - TechTanks.png');
  background-size: cover;
}

.business-analysis-image-3{
  background: url('images/Consulting 2 - TechTank.png');
  background-size: cover;
}


/* DIGITAL PERFORMANCE MANAGEMENT SLIDER */

.performance-management-image-1{
  background: url('images/Digital Training -TechTank.png');
  background-size: cover;
}

.performance-management-image-2{
  background: url('images/Digital Research - TechTanks.png');
  background-size: cover;
}

.performance-management-image-3{
  background: url('images/Consulting 2 - TechTank.png');
  background-size: cover;
}

/* DIGITAL SPECIALIST SLIDER */

.digital-specialist-image-1{
  background: url('images/Digital Training -TechTank.png');
  background-size: cover;
}

.digital-specialist-image-2{
  background: url('images/Digital Research - TechTanks.png');
  background-size: cover;
}

.digital-specialist-image-3{
  background: url('images/Consulting 2 - TechTank.png');
  background-size: cover;
}

/* USER RESEARCH SLIDER */

.user-research-image-1{
  background: url('images/Digital Training -TechTank.png');
  background-size: cover;
}

.user-research-image-2{
  background: url('images/Digital Research - TechTanks.png');
  background-size: cover;
}

.user-research-image-3{
  background: url('images/Consulting 2 - TechTank.png');
  background-size: cover;
}

/* DATA ANALYSIS SLIDER */

.data-analysis-image-1{
  background: url('images/Digital Training -TechTank.png');
  background-size: cover;
}

.data-analysis-image-2{
  background: url('images/Digital Research - TechTanks.png');
  background-size: cover;
}

.data-analysis-image-3{
  background: url('images/Consulting 2 - TechTank.png');
  background-size: cover;
}


/* CONTENT AND DESIGN SLIDER */

.content-and-design-image-1{
  background: url('images/Digital Training -TechTank.png');
  background-size: cover;
}

.content-and-design-image-2{
  background: url('images/Digital Research - TechTanks.png');
  background-size: cover;
}

.content-and-design-image-3{
  background: url('images/Consulting 2 - TechTank.png');
  background-size: cover;
}


/* LEADERSHIP MANAGEMENT SLIDER */

.digital-leadership-image-1{
  background: url('images/Digital Training -TechTank.png');
  background-size: cover;
}

.digital-leadership-image-2{
  background: url('images/Digital Research - TechTanks.png');
  background-size: cover;
}

.digital-leadership-image-3{
  background: url('images/Consulting 2 - TechTank.png');
  background-size: cover;
}


/* OPERATION MANAGEMENT SLIDER */

.operation-management-image-1{
  background: url('images/Digital Training -TechTank.png');
  background-size: cover;
}

.operation-management-image-2{
  background: url('images/Digital Research - TechTanks.png');
  background-size: cover;
}

.operation-management-image-3{
  background: url('images/Consulting 2 - TechTank.png');
  background-size: cover;
}

/* RESEARCH AND DEVELOPMENT PAGE SLIDER */

.research-image-1{
  background: url('images/Digital Training -TechTank.png');
  background-size: cover;
}

.research-image-2{
  background: url('images/Digital Research - TechTanks.png');
  background-size: cover;
}

.research-image-3{
  background: url('images/Consulting 2 - TechTank.png');
  background-size: cover;
}

#research .research-card-image-1{
  background: url('images/Digital Training -TechTank.png');
  background-size: cover;
}

#research .research-card-image-2{
  background: url('images/Consulting 2 - TechTank.png');
  background-size: cover;
}

#research .research-card-image-3{
  background: url('images/Digital Research - TechTanks.png');
  background-size: cover;
}

/* DIGITAL CONSULTING PAGE */

#consulting-header{
  background: url('images/Consulting -TechTank.png');
  background-size: cover;
  height: 550px;
}
#consulting-header .py-5{
  padding-top: 8rem !important;
}

#consulting .card{
  color: #fff;
  background: rgba(4, 23, 72, 0.9);
  box-shadow: 1px -2px 3px 2px #ECECEC;
}


/* CONTACT US PAGE */

#contact a{
  color: rgba(4, 23, 72, 0.9);
}

.fa {
  font-size: 24px;
  color: rgba(4, 23, 72, 0.9);
}

#contact hr{
  background: rgba(4, 23, 72, 0.9);
  border: 1px solid rgba(4, 23, 72, 0.9);
  border-radius: 0px 0px 5px 5px;
  width: 79px;
  height: 2px;
  margin-left: 40%;
}
